## Load in dependencies

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

### Iris Flower Dataset

In [3]:
irisDf = pd.read_csv("./data/iris.csv")
irisDf.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

### Forrest Fire Dataset

In [4]:
forrestDf = pd.read_csv("./data/forestfires.csv")
forrestDf.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

## Discretization

In [21]:
sepalDataDf = irisDf[['sepal length in cm', 'sepal width in cm', 'class']]
sepalDataDf.head()

   sepal length in cm  sepal width in cm        class
0                 5.1                3.5  Iris-setosa
1                 4.9                3.0  Iris-setosa
2                 4.7                3.2  Iris-setosa
3                 4.6                3.1  Iris-setosa
4                 5.0                3.6  Iris-setosa

In [35]:
sepalLengthLen = len(sepalDataDf['sepal length in cm'].values)
sepalLengthLen

150

In [36]:
sepalWidthLen = len(sepalDataDf['sepal width in cm'].values)
sepalWidthLen

150

In [46]:
windAndTempDf = forrestDf[['wind', 'temp', 'area']]
windAndTempDf.sort_values(by='wind')

     wind  temp   area
249   0.4  21.7   2.47
258   0.9  20.6   0.00
83    0.9  16.6   0.00
85    0.9  21.5   0.00
129   0.9  15.4   0.00
..    ...   ...    ...
142   8.9  21.2   0.61
411   9.4   8.2   4.62
469   9.4  13.7  61.13
475   9.4  22.7   3.19
168   9.4  14.6   2.53

[517 rows x 3 columns]

In [38]:
windLength = len(windAndTempDf['wind'].values)
windLength

517

In [39]:
tempLength = len(windAndTempDf['temp'].values)
tempLength

517

## Feature Selection

## Feature Extraction