In [31]:
import numpy as np
import pandas as pd
import math
from matplotlib import pyplot as plt

In [281]:
def euclidean(array1,array2,array3,b1,b2):
    arrayjarak = []
    for i in range(len(array1)):
        jarak = int(np.round(np.square(np.sqrt((array1[i]-b1)**2+(array2[i]-b2)**2))))
        arrayjarak.append(jarak)
    return array1,array2,array3,arrayjarak

In [282]:
array1 = [8,4,4,7,5,6]
array2 = [4,5,6,7,6,5]
array3 = ["Bagus", "Tidak Bagus", "Tidak Bagus", "Bagus", "Tidak Bagus", "Bagus"]
euclidean(array1,array2,array3,7,4)

([8, 4, 4, 7, 5, 6],
 [4, 5, 6, 7, 6, 5],
 ['Bagus', 'Tidak Bagus', 'Tidak Bagus', 'Bagus', 'Tidak Bagus', 'Bagus'],
 [1, 10, 13, 9, 8, 2])

In [284]:
data = np.array(euclidean(array1,array2,array3,7,4))

In [289]:
df = pd.DataFrame({"Daya Tahan Terhadap Asam (detik)":data[0], "Kekuatan (kg/m2)":data[1],"Class":data[2],"Jarak ke data uji (X1=7,X2=4)":data[3]})
df.sort_values(by='Jarak ke data uji (X1=7,X2=4)')

,Daya Tahan Terhadap Asam (detik),Kekuatan (kg/m2),Class,"Jarak ke data uji (X1=7,X2=4)"
0,8,4,Bagus,1
1,4,5,Tidak Bagus,10
2,4,6,Tidak Bagus,13
5,6,5,Bagus,2
4,5,6,Tidak Bagus,8
3,7,7,Bagus,9

In [290]:
df.head(3)

,Daya Tahan Terhadap Asam (detik),Kekuatan (kg/m2),Class,"Jarak ke data uji (X1=7,X2=4)"
0,8,4,Bagus,1
1,4,5,Tidak Bagus,10
2,4,6,Tidak Bagus,13

In [292]:
df['Class'].head(3)

0          Bagus
1    Tidak Bagus
2    Tidak Bagus
Name: Class, dtype: object