# K Nearest Neighbor

###  Load in dependencies

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

###  Euclidean Distance

In [2]:
def euclidean(array1,array2,b1,b2):
    arrayjarak = []
    for i in range(len(array1)):
        jarak = int(np.round(np.square(np.sqrt((array1[i]-b1)**2+(array2[i]-b2)**2))))
        arrayjarak.append(jarak)
    return arrayjarak

###  K Nearset Neighbour

In [3]:
def knearest(array1,array2,array3,b1,b2):
    traindata = []
    arrayjarak = euclidean(array1,array2,7,4)
    traindata.append(array1)
    traindata.append(array2)
    traindata.append(array3)
    traindata.append(arrayjarak)
    return traindata

In [4]:
dayaTahanAsam = [8,4,4,7,5,6]
kekuatan = [4,5,6,7,6,5]
klasifikasi = ["Bagus", "Tidak Bagus", "Tidak Bagus", "Bagus", "Tidak Bagus", "Bagus"]

In [5]:
knearest(dayaTahanAsam,kekuatan,klasifikasi,7,4)

[[8, 4, 4, 7, 5, 6],
 [4, 5, 6, 7, 6, 5],
 ['Bagus', 'Tidak Bagus', 'Tidak Bagus', 'Bagus', 'Tidak Bagus', 'Bagus'],
 [1, 10, 13, 9, 8, 2]]

In [6]:
traindata = knearest(dayaTahanAsam,kekuatan,klasifikasi,7,4)
df = pd.DataFrame({"Daya Tahan Terhadap Asam (detik)":traindata[0], "Kekuatan (kg/m2)":traindata[1],"Class":traindata[2],"Jarak ke data uji (X1=7,X2=4)":traindata[3]})
df.sort_values(by='Jarak ke data uji (X1=7,X2=4)')
df

,Daya Tahan Terhadap Asam (detik),Kekuatan (kg/m2),Class,"Jarak ke data uji (X1=7,X2=4)"
0,8,4,Bagus,1
1,4,5,Tidak Bagus,10
2,4,6,Tidak Bagus,13
3,7,7,Bagus,9
4,5,6,Tidak Bagus,8
5,6,5,Bagus,2

In [7]:
df['Class'].head(3).values

array(['Bagus', 'Tidak Bagus', 'Tidak Bagus'], dtype=object)