## Load in numpy pandas matplotlib

In [17]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

## Read csv data

In [18]:
irisDf = pd.read_csv("./data/iris.csv")

In [19]:
irisDf.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [20]:
sepalLength = irisDf['sepal length in cm']
sepalLength.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length in cm, dtype: float64

## Get data from dataframe

In [21]:
sepalWidth = irisDf['sepal width in cm']
sepalWidth.head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal width in cm, dtype: float64

In [22]:
petalLength = irisDf['petal length in cm']
petalLength.head()

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: petal length in cm, dtype: float64

In [23]:
petalWidth = irisDf['petal width in cm']
petalWidth.head()

0    0.2
1    0.2
2    0.2
3    0.2
4    0.2
Name: petal width in cm, dtype: float64

##  Get max and min data

In [24]:
maxSepalLength =sepalLength.max()
maxSepalLength

7.9

In [25]:
minSepalLength =sepalLength.min()
minSepalLength

4.3

In [26]:
maxSepalWidth = sepalWidth.max()
maxSepalWidth

4.4

In [27]:
minSepalWidth = sepalWidth.min()
minSepalWidth

2.0

In [28]:
maxPetalLength = petalLength.max()
maxPetalLength

6.9

In [29]:
minPetalLength = petalLength.min()
minPetalLength

1.0

In [30]:
maxPetalWidth = petalWidth.max()
maxPetalWidth

2.5

In [31]:
minPetalWidth = petalWidth.min()
minPetalWidth

0.1

In [41]:
minmaxData = np.array([
    maxSepalLength, minSepalLength, maxSepalWidth, minSepalWidth, 
    maxPetalLength, minPetalLength, maxPetalWidth, minPetalWidth
])
print(minmaxData)

[7.9 4.3 4.4 2.  6.9 1.  2.5 0.1]